body{
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}
.header-card{
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2vh;
}
.card{
    margin-top: 5vh;
    color:  black;
    padding: 1vh;
    transition: transform 0.8s ease, box-shadow 0.8 ease;
    box-shadow: 0 12px 20px rgba( 0, 0, 0, 0.1);
    border: 5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;      
    justify-content: space-between;  
    height: 300px;               
    width: 280px;                
    margin: auto;                
    padding: 1rem;             
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba( 0, 0, 0, 0.1);
    border-radius: 8px;
}
.btn{
    color:  white;
    background: linear-gradient(to bottom, #6e8efb, #917fe9); 

}
.fundo{
   
    margin-top: 5vh;
    padding-bottom: 5vh;
}
footer{
    margin-top: 5vh;
    text-align: center;
    color:  white;
     background: linear-gradient(to bottom, #4161c9, #a76af1); 
     height: 15vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 8px;
    background: linear-gradient(to bottom, #6e8efb, #917fe9)

}
.claro{
  background-color: white;
  color: black;
}
.escuro{
  background-color: #1a1a1a;
  color: #f8f9fa;
}
.escuro2{
  background-color: #3d3d3d;
  color: #f8f9fa;
}



